<ion-view view-title="My pokemons">
  <ion-content>

    <ion-list
            show-delete="shouldShowDelete"
            show-reorder="shouldShowReorder"
            can-swipe="listCanSwipe">

      <ion-item
              ng-repeat="searchResult in searchResults"
              class="item-thumbnail-left>
        <i class="icon ion-ios-information" ui-sref="app.detail({ pokemon: searchResult.name })"></i>
        <img ng-src="{{item.img}}">
        <h2>        {{searchResult.name}}</h2>
        <ion-option-button class="button-positive"
                           ng-click="share(item)">
          Share
        </ion-option-button>
        <ion-option-button class="button-dark"
                           ng-click="edit(item)">
          Delete
        </ion-option-button>


      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>