
<ion-view view-title="PokeDex">

    <ion-content>
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="widget.search" ng-change="search(widget.search)">
        </label>
        <ion-list>

            <ion-item
                    ng-repeat="searchResult in searchResults"
                    ui-sref="app.detail({ pokemon: searchResult.name })">
                        {{searchResult.name}}
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="1%">

        </ion-infinite-scroll>
    </ion-content>
</ion-view>